@{
    ViewBag.Title = "NotifyFromPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="color: green;">Thông tin từ Paypal</h4>
<a href="../Home/Index" style="display: table">Trở về trang chủ</a>
