@{
    ViewBag.Title = "Thông tin từ Paypal";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h4 style="color: green;">Thanh toán chi phí thành công! Chúng tôi sẽ thông báo cho quý khách qua tin nhắn ngay khi món hàng được chuyển đi.</h4>
<p align="center"><img src="/Content/img/icon_tick_on.gif"/></p>
<a href="../Home/Index" style="display: table">Trở về trang chủ</a>

<script type="text/javascript">
    //get value from cookie by its name
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i].trim();
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }
    //call function update status of request from controller after redirect success from Paypal
   
    function UpdateStatusAfterCheckOut(){
        var id = getCookie("requestId");
        $.ajax({
            url: '/Request/UpdateStatusAfterCheckOut',
            type: "POST",
            data: {requestId : id},
            success: function (result) {
            }
        });

        function successFunc(data, status) {
            alert(data);
        }
        function errorFunc() {
            alert('error');
        }
    }

    window.onload = UpdateStatusAfterCheckOut();
</script>