@model Captone.Models.CoachType

@{
    ViewBag.Title = "Loại xe";
}
<fieldset>
    <legend>Thông tin loại xe</legend>
    <blockquote>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Seats)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Seats)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>
    </blockquote>
</fieldset>
<p>
    <a href="/CoachType/Edit/@Model.CoachTypeID">
        <input type="button" class="btn btn-primary" value="Chỉnh sửa thông tin" /></a>
    <input type="button" value="Quay lại danh sách" class="btn btn-info" onclick="window.location.href = '/CoachType/Index'" />
</p>
