@{
    Layout = null;
}
@{
    var error = "";
    if (TempData["ERROR"] != null)
    {
        error = TempData["ERROR"].ToString();
    }
}
<style>
    ul ul {
        display: none;
    }
</style>

<div>
    <h4 style="color: red">@Html.ValidationMessage("LoginFailed")</h4>
    <div class="form-control-group">
        <label class="control-label" for="Username"></label>
        <input class="form-control" style="display: inline" placeholder="tên đăng nhập" id="Username" name="Username" type="text" autofocus="">
    </div>
    <br />

    <div class="form-control-group">
        <label class="control-label" for="Password"></label>
        <input class="form-control" style="display: inline" placeholder="mật khẩu" id="Password" name="Password" type="password">
    </div>
    <br />
    <div style="margin-left: -50px;">
        <ul id="menu-top-menu">
            <li>
                <a href="#">Chưa có tài khoản</a>
                <ul style="display: none;">
                    <input class="form-control" id="RequestCode" name="RequestCode" placeholder="Mã món hàng" autofocus />
                </ul>
            </li>
        </ul>
    </div>
    <button class="btn btn-lg btn-success" onclick="acceptCode();">Xác nhận</button>
    <input type="button" value="Đăng ký" class="btn btn-lg btn-info" onclick="window.location.href = '/Account/Register'" />
    <!-- Change this to a button or input when using this as a form -->
</div>
<script type="text/javascript">
    $('#menu-top-menu li').click(function (event) {
        if ($(this).children('ul').is(':visible')) return true;
        if ($(this).children().is('a:last-child')) return true;
        if ($(this).siblings().is(":visible")) $(this).siblings().children("ul").hide("fast");
        $(this).children('ul').toggle("slow");
        return false;
    });
    function CheckLogin() {
        var username = document.getElementById('Username').value;
        var password = document.getElementById('Password').value;
        $.ajax({
            url: "/Account/CheckLogin",
            type: "POST",
            data: { username: username, password: password },
            success: function (result) {
                if (result == 1) {
                    window.location.href = "/Request/Index";
                }
                else if (result == 2) {
                    window.location.href = "/Customer/Index";
                }
                else if (result == 3) {
                    window.location.href = "/Admin/Index";
                }
            }
        });
    }
    function requestCode() {
        var code = document.getElementById('RequestCode').value;
        $.ajax({
            url: "/Request/RequestCode",
            type: "POST",
            data: { requestCode: code },
            success: function (result) {
                window.location.href = "/Request/RequestCode?requestCode=" + code + "";
            }
        });
    }
    function acceptCode() {
        var code = document.getElementById('RequestCode').value;
        var username = document.getElementById('Username').value;
        var password = document.getElementById('Password').value;
        if (username != "" & password != "" & code == "") {
            CheckLogin();
        }
        else {
            requestCode();
        }
    }
</script>
