@{
    ViewBag.Title = "Đăng ký tài khoản thành công. Cập nhật thông tin của bạn";
    Layout = "~/Views/Shared/_LayoutNoMap.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Cập nhật thông tin cá nhân</div>
    <div class="panel-body">
        <form action="\Account\AddUserInfo" method="POST" enctype="multipart/form-data">
            Họ 
    <input type="text" name="Firstname" class="form-control" autofocus=""/>
            Tên
    <input type="text" name="Lastname" class="form-control" />
            Địa chỉ
    <input type="text" name="Address" class="form-control" />
            Điện thoại
    <input type="text" name="PhoneNumber" class="form-control" />
            <br />
            <p>
                <button type="submit" class="btn btn-primary">Hoàn tất</button>
                <input type="reset" value="Xóa hết" class="btn btn-warning" />
            </p>
        </form>
    </div>
</div>
