@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div class="page-content">
        <ul class="tabs">
            <li><a href="#" class="current">Information</a></li>
            <li><a href="#" class="">News</a></li>
            <li><a href="#" class="">Recent videos</a></li>
            <li><a href="#" class="">Latest gallery</a></li>
        </ul>
        <div class="panes">

            <!-- Information  -->
            <div style="display: block;">

                <p class="info-box">
                    <img src="img/mono-icons/smile32.png" title="smile32.png" alt="smile32.png" class="alignleft">
                    Pellentesque habitant morbi ser fames turpis egestas tortor malesuada fames ete turpis egestas tortor quam, feugiat vitae.
                </p>

                <p class="info-box">
                    <img src="img/mono-icons/boxdownload32.png" title="boxdownload32.png" alt="" class="alignleft">
                    Pellentesque habitant morbi ser fames turpis egestas tortor malesuada fames ete turpis egestas tortor quam, feugiat vitae.
                </p>

                <p class="info-box">
                    <img src="img/mono-icons/risegraph32.png" title="risegraph32.png" alt="risegraph32.png" class="alignleft">
                    Pellentesque habitant morbi ser fames turpis egestas tortor malesuada fames ete turpis egestas tortor quam, feugiat vitae.
                </p>

                <p class="info-box">
                    <img src="img/mono-icons/camera32.png" title="camera32.png" alt="" class="alignleft">
                    Pellentesque habitant morbi ser fames turpis egestas tortor malesuada fames ete turpis egestas tortor quam, feugiat vitae.
                </p>

            </div>
            <!-- ENDS Information -->

            <!-- Post list -->
            <div style="display: none;">
                <ul class="blocks-list">
                    <li>
                        <a href="single.html" class="border">
                            <img src="img/dummies/114x86.jpg" alt="Post"></a>
                        <div class="the-excerpt">
                            <strong>Pellentesque habitant morbi tristique</strong>  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.																			<a href="single.html" class="link-arrow">Read more →</a>
                        </div>
                    </li>
                    <li>
                        <a href="single.html" class="border">
                            <img src="img/dummies/114x86.jpg" alt="Post"></a>
                        <div class="the-excerpt">
                            <strong>Pellentesque habitant morbi tristique</strong>  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.																			<a href="single.html" class="link-arrow">Read more →</a>
                        </div>
                    </li>
                    <li>
                        <a href="single.html" class="border">
                            <img src="img/dummies/114x86.jpg" alt="Post"></a>
                        <div class="the-excerpt">
                            <strong>Pellentesque habitant morbi tristique</strong>  senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.																			<a href="single.html" class="link-arrow">Read more →</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ENDS Post list -->



        </div>
    </div>
</div>
