@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-container">
    <div class="login-content">
        <div class="login-main">
            <div class="login-header">
                <p>Chào mừng đến với dịch vụ vận chuyển hàng hóa xe khách đường dài. </p>
            </div>
            <img src="~/Content/Images/5star%20rating.jpg" style="width:130px;margin-top:-20px"/>
       <br />
            <div class="login-paragragh">
                Tên đăng nhập của bạn
            <input type="text" class="textField" id="Username" />
                và mật khẩu đăng nhập của bạn 
        <input type="password" class="textField" id="Password" />.
        Nếu chưa có tài khoản, hãy đăng kí <a href="/Home/Register">tại đây</a>.<br />
                <br />
            </div>
            <input type="submit" value="Đăng nhập" class="button-submit" onclick="CheckLogin()"/>
        </div>
    </div>

</div>
<script type="text/javascript">
    function CheckLogin() {
        var username = document.getElementById('Username').value;
        var password = document.getElementById('Password').value;
        $.ajax({
            url: "/Home/CheckLogin",
            type: "GET",
            data: { Username: username, Password: password },
            success: function (result) {
                if(result) {
                    location.href = "/Home/Index";
                }
                
            }
    });
    }

</script>