@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-container">
    <div class="login-content">
        <div class="login-main">
            <div class="login-header">
                <p>Chào mừng đến với dịch vụ vận chuyển hàng hóa xe khách đường dài. </p>
            </div>
            <img src="~/Content/Images/5star%20rating.jpg" style="width:130px;margin-top:-20px"/>
       <br />
            <div class="login-paragragh">
                Tên đăng nhập của bạn
            <input type="text" class="textField" />
                và mật khẩu đăng nhập của bạn 
        <input type="text" class="textField" />.
        Nếu chưa có tài khoản, hãy đăng kí <a href="#">tại đây</a>.<br />
                <br />
            </div>
            <button type="submit" class="button-submit" >Đăng nhập</button>
        </div>
    </div>

</div>
