@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="regis-container">
    <div class="regis-content">
        <div class="regis-header">
            <h2>
                <img src="~/Content/Images/key-icon.png" style="height: 25px; width: 25px; padding-top: 6px;" />
                Tạo tài khoản</h2>
        </div>
        <div class="regis-main">
            <div class="regis-left">
                <p>Đăng kí tài khoản để phục vụ nhu cầu của bạn</p>
                <br />
                <div class="first">
                    <img src="~/Content/Images/stock_mail_send.png" />
                    <p style="margin-left: 70px; margin-top: -60px">
                        <b>Gửi yêu cầu</b>
                        <br />
                        Cho phép bạn gửi yêu cầu vận chuyển món hàng 
                    </p>
                </div>
                <div class="second">
                    <br />
                    <img src="~/Content/Images/icon512x512.png" style="height: 55px; width: 55px" />
                    <p style="margin-left: 70px; margin-top: -75px">
                        <b>Theo dõi món hàng</b>
                        <br />
                        Cho phép bạn theo dõi xem món hàng của mình đã rời trạm được bao lâu
                    </p>
                </div>
                <div class="third">
                    <br />
                    <img src="~/Content/Images/folder_blue_favourites.png" style="height: 55px; width: 55px" />
                    <p style="margin-left: 70px; margin-top: -70px">
                        <b>Góp ý và đánh giá</b>
                        <br />
                        Cho phép bạn đóng góp ý kiến cá nhân và đánh giá chất lượng dịch vụ
                    </p>
                </div>
            </div>
            <div class="regis-right">
                <div class="right-content">
                    <div class="right-header">
                        <p style="display: inline">
                            <b>Tạo tài khoản</b>
                            <a href="#" style="margin-left: 80px">Quên mật khẩu</a>
                        </p>
                    </div>
                    <br />
                    <div class="right-main">
                        <form action="/Home/AddRegister" method="post" enctype="multipart/form-data">
                            <div class="email">
                                <p class="regis-size">Địa chỉ email</p>
                                <input type="text" class="inputField" name="Email" />
                            </div>
                            <div class="username">
                                <p class="regis-size">Tên đăng nhập</p>
                                <input type="text" class="inputField" name="Username" />
                            </div>
                            <div class="password">
                                <p class="regis-size">Mật khẩu</p>
                                <input type="password" class="inputField" name="Password" />
                            </div>
                            <div class="phone">
                                <p class="regis-size">Số điện thoại</p>
                                <input type="text" class="inputField" name="Phone" />
                            </div>
                              <button type="submit" class="button-submit" style="margin-top: 50px; margin-left: 80px">Đăng kí</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

