@{
    ViewBag.Title = "SuccessRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="regis-container">
    Chúc mừng bạn đã đăng kí thành công, bạn có thể chỉnh sửa thông tin cá nhân hoặc click vào <a href="#">đây</a> để đăng nhập
    <h3>Thông tin cá nhân</h3>
    <form action="\Home\AddUserInfo" method="POST" enctype="multipart/form-data">
    First Name
    <input type="text" name="Firstname"/>
    Last Name
    <input type="text" name="Lastname"/>
    Address
    <input type="text" name="Address"/>
    <button type="submit" class="button-submit">Hoàn tất</button>
    </form>
</div>
