@model IEnumerable<Captone.Models.Trip>
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListTrip</title>
</head>
<body>
    <fieldset>
        <legend>Những chuyến đã có trong ngày</legend>
        <blockquote>
            @foreach (var item in Model)
            {
                <p>
                    Xe số: @Html.DisplayFor(modelItem => item.Coach.NumberPlate)
                </p>
                <p>
                    Chạy ngày: @Html.DisplayFor(modelItem => item.Date)
                </p>
                <p>
                    Chạy tuyến: @Html.DisplayFor(modelItem => item.Route.RouteName)
                </p>
            }
        </blockquote>
    </fieldset>
</body>
</html>
