@model Captone.Models.CoachType

@{
    Layout = null;
}

<strong>Số ghế ngồi
</strong>
<div class="display-field">
    @Html.DisplayFor(model => model.Seats)
</div>

<strong>Sức chứa khoang hàng
</strong>
<div class="display-field">
    @Html.DisplayFor(model => model.Capacity) (lít)
</div>
<br />

<p>
    <a href="/Coach/Edit/@Model.CoachTypeID">
        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
    </a>
    <a href="/Coach/Delete/@Model.CoachTypeID">
        <button type="button" class="btn btn-danger">Xóa loại xe này </button>
    </a>
    <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
</p>

