@{
    ViewBag.Title = "CancelFromPaypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="color: green;">Bạn đã hủy thanh toán từ trang thanh toán Paypal</h4>
<p align="center"><img src="~/Content/img/cancelled.png"/></p>
<a href="../Home/Index" style="display: table">Trở về trang chủ</a>
