@{
    ViewBag.Title = "Thông tin từ Paypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h2 style="color: blue;">Thanh toán thành công</h2>
    <a href="../Home/Index">Trở về trang chủ</a>
}