@{
    Layout = null;
}
@{
    var error = "";
    if (TempData["ERROR"] != null)
    {
        error = TempData["ERROR"].ToString();
    }
}
<script src="~/Scripts/jquery.validate.js"></script>
<link href="~/Content/Css/validate.css" rel="stylesheet" />
<script src="~/Scripts/ValidateForm.js"></script>


<form id="123456" method="POST">
    <div>
        <h4 style="color: red">@Html.ValidationMessage("LoginFailed")</h4>
        <div class="form-control-group">
            <label class="control-label" for="Username"></label>
            <input class="form-control" style="display: inline" placeholder="tên đăng nhập" id="Username" name="Username" type="text" autofocus="">
        </div>
        <br/>

        <div class="form-control-group">
            <label class="control-label" for="Password"></label>
            <input class="form-control" style="display: inline" placeholder="mật khẩu" id="Password" name="Password" type="password">
        
        </div>
            <br/>
    
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" value="Đăng nhập" class="btn btn-lg btn-success" onclick="CheckLogin();" />
        <input type="button" value="Đăng ký" class="btn btn-lg btn-info" onclick="window.location.href = '/Account/Register'" />
    </div>
</form>

<script type="text/javascript">
    function CheckLogin() {
        var username = document.getElementById('Username').value;
        var password = document.getElementById('Password').value;
        $.ajax({
            url: "/Account/CheckLogin",
            type: "POST",
            data: { username: username, password: password },
            success: function (result) {
            }
        });
    }
</script>
