@model Captone.Models.Schedule

@{
    Layout = null;
}
<div>

    <strong >
         Xe chạy
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoachArrangement.Coach.NumberPlate)
    </div>
    <br />
    <strong>
         Giờ đi dự kiến
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateDepartureTime)
    </div>
    <br />
    <strong>
        Giờ đến dự kiến
    </strong>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstimateArrivalTime)
    </div>
</div>
<br />
<p>
    <button type="button" class="btn btn-info" data-dismiss="modal">Quay lại danh sách</button>
</p>
