@model Captone.Models.Route

@{
    ViewBag.Title = "Delete";
}

<h3>Bạn có muốn xoá tuyến?</h3>
<fieldset>
    <legend></legend>

    <div class="display-label">
    <strong>Tuyến: </strong>
        @Html.DisplayFor(model => model.RouteName)
    </div>
</fieldset>
<br />
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Xoá" /> |
        @Html.ActionLink("Quay lại danh sách", "Index")
    </p>
}
