@model Captone.Models.Coach

@{
    Layout = null;
}


<strong>Biển số xe
</strong>
<div class="display-field">
    @Html.DisplayFor(model => model.NumberPlate)
</div>

<strong>Số ghế ngồi
</strong>
<div class="display-field">
    @Html.DisplayFor(model => model.CoachType.Seats)
</div>


<br />

<p>
    <a href="/Coach/Edit/@Model.CoachID">
        <button type="button" class="btn btn-primary">Chỉnh sửa thông tin </button>
    </a>
    <a href="/Coach/Delete/@Model.CoachID">
        <button type="button" class="btn btn-danger">Xóa xe này </button>
    </a>
    <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
</p>

