
<div>
    <table class="table">
        <tr>
            <th>Tuyến
            </th>
        </tr>

        @foreach (var item in ViewBag.RouteName)
        {            

                    <tr>
                   
                        <td>@item.RouteName</td>                        
                    </tr>      
        }
    </table>
</div>
