body {
    background: #f1f1f1 url('../Images/bg.png') repeat;
    color: #606060;
}

.container {
    background: url('../Images/sidebar.png') transparent repeat-y;
    height: 690px;
}

.container {
    overflow: hidden;
    width: 965px;
    min-height: 100%;
    padding-bottom: 15px;
}

.container {
    font-size: 15px;
    line-height: 1.5em;
}

.searchsubmit {
    position: absolute;
    top: 25px;
    left: 195px;
    width: 34px;
    height: 26px;
    border: 0px;
    background: url('../Images/search-submit.png') no-repeat transparent 0px 0px;
}

.search {
    color: white;
    width: 175px;
    height: 26px;
    padding: 0px 10px;
    margin: 0px;
    border: 0;
    background: url('../Images/search-bg.png') no-repeat transparent 0px 0px;
}

#slidebar {
    width: 285px;
    float: left;
}

    #slidebar #nav > li a {
        color: #fefefe;
    }

    #slidebar .searchForm {
        display: block;
        position: relative;
        margin-left: 15px;
        padding-top: 25px;
        margin-bottom: 20px;
        background: url('../Images/sidebar-divider.png') no-repeat;
    }

    #slidebar #nav {
        display: block;
        margin-left: 15px;
        margin-right: 36px;
        padding-top: 15px;
        margin-bottom: 10px;
    }

        #slidebar #nav > li a {
            display: block;
            padding-left: 25px;
            padding-top: 12px;
        }

        #slidebar #nav > li a {
            text-decoration: none;
        }

    #slidebar #nav {
        background: url('../Images/sidebar-divider.png') no-repeat;
    }

    #slidebar, #slidebar a {
        color: #f4f2ea;
    }

.sf-vertical, .sf-vertical li {
    width: 234px;
}

#slidebar #nav > li.current-menu-item {
    background-position: 0px -40px;
}

#slidebar #nav > li:first-child {
    border-top: none;
}

.sf-menu {
    float: left;
    margin-bottom: 1em;
}

.sf-menu {
    line-height: 1.0;
    position: relative;
    z-index: 3000;
}

    .sf-menu, .sf-menu * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

#slidebar #nav > li {
    display: block;
    height: 40px;
    background: url('../Images/nav-item.png') no-repeat transparent;
    border-top: 1px solid #636363;
    border-bottom: 1px solid #373737;
}

.sf-vertical a > .sf-sub-indicator {
    background-position: 0 0;
}

a > .sf-sub-indicator {
    top: 4.7em;
}


#slidebar #nav > li ul {
    padding-left: 20px;
    padding-right: 10px;
}

#slidebar .searchForm .searchsubmit:hover {
    background-position: 0px -26px;
}

.page-content {
    width: 594px;
    margin: 0px 30px;
}

.main {
    width: 680px;
    float: left;
}

ul.tabs {
    list-style: none;
    margin: 0 !important;
    padding: 11px 0px 0px 0px;
    height: 46px;
}

    ul.tabs li {
        float: left;
        text-indent: 0;
        padding: 0;
        margin: 0 !important;
        list-style-image: none !important;
    }

        ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
            cursor: default !important;
            color: #fff !important;
            background-position: 0px 0px;
        }

    ul.tabs a {
        color: #555149;
        font-size: 14px;
        display: block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        padding: 3px 9px;
        margin: 0px;
        margin-right: 10px;
        position: relative;
        top: 1px;
        background: url('../Images/tab-bg.png') no-repeat 0px -100px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        ul.tabs a:active {
            outline: none;
        }

        /* when mouse enters the tab move the background image */
        ul.tabs a:hover {
            background-position: 0px 0px;
            color: #ffffff;
        }

        /* active tab uses a class name "current". its highlight is also done by moving the background image. */
        ul.tabs a.current,
        ul.tabs a.current:hover,
        ul.tabs li.current a {
            cursor: default !important;
            color: #fff !important;
            background-position: 0px 0px;
        }

.panes .pane {
    display: none;
}

.panes > div {
    background: url('../Images/line-divider.png') top left repeat-x;
    display: none;
    min-height: 200px;
    padding: 21px 10px;
}

.facebook {
    background: url('../Images/facebook_32.png');
}

.yahoo {
    background: url('../Images/yahoo_32.png');
}

.skype {
    background: url('../Images/skype_32.png');
}

.social {
    display: block;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 36px;
    padding-top: 25px;
    margin-bottom: 20px;
}

.social {
    background: url('../Images/sidebar-divider.png');
}

    .social a {
        display: block;
        width: 32px;
        height: 32px;
        float: left;
        text-indent: -9000px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

ol, ul {
    list-style: none;
}

.footer {
    background: #080808 url('../Images/footer.png') repeat-x;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-top: 43%;
}

#slidebar h6 {
    font-family: Tahoma, arial;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: -20px;
    margin-left: -35px;
}

.address-content {
    margin-left: 74%;
    margin-top: -52.5%;
}

.address-header {
    height: 38px;
    background: url('../Images/line-divider.png') bottom left repeat-x;
}

.clear {
    clear: both;
}
/*table design*/
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
  
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
}
.distance {
    height: 35px;
}