body {
}

.login-container {
    margin-left: 35%;
    margin-top: 30px;
}

.login-content {
    text-align: center;
    margin-left: -35px;
    width: 600px;
    height: 309px;
    background-color: white;
}

.login-content {
    border-bottom-style: double;
    border-left-style: double;
    border-bottom-color: pink;
    border-left-color: pink;
    border-top-style: double;
    border-top-color: pink;
    border-right-style: double;
    border-right-color: pink;
}


.textField {
    border-style: none none groove none;
    background-color: white;
    border-bottom-color: red;
    text-align: center;
}

.login-header {
    font-size: 25px;
    text-transform: uppercase;
    font-family: musou;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

.login-header {
    font-family: Georgia,serif;
    color: #4E443C;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

.login-paragragh {
    font-size: 1.20em;
    font-family: Georgia;
    font-style: italic;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    letter-spacing: 0.1em;
}

.button-submit {
    color: #0f4b6d !important;
    border: 1px solid #84acc3 !important;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    cursor: pointer;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    text-decoration: none !important;
    height: 35px;
    width: 130px;
}
