@model IEnumerable<Captone.Models.Request>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Danh sách yêu cầu chuyển phát";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    int stationId = Convert.ToInt32(Session["StationID"]);
    var Username = (string)Session["USERNAME"];
}
<div class="row">
    @if (Username != null)
    {
        <div class="col-md-12" style="text-align: center">
            <div class="well col-md-4">
                <a href="/Request/AcceptRequest?stationID=@stationId" class="">
                    <h4>Tiếp nhận yêu cầu</h4>
                    <br />
                    <img src="~/Content/Images/requests/Approved.png" /></a>
            </div>
            <div class="well col-md-4">
                <a href="/Request/ListRequest?stationID=@stationId" class="">
                    <h4>Xếp lịch vận chuyển</h4>
                    <br />
                    <img src="~/Content/Images/requests/Schedule.png" /></a>
            </div>
            <div class="well col-md-4">
                <a href="/Assigning/ListAssign?stationID=@stationId" class="">
                    <h4>Xác nhận chuyển hàng</h4>
                    <br />
                    <img src="~/Content/Images/requests/Departed.png" /></a>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center">
            <div class="well col-md-4">
                <a href="/Assigning/RequestPeding?stationID=@stationId" class="">
                    <h4>Hàng đang vận chuyển</h4>
                    <br />
                    <img src="~/Content/Images/requests/In-transit.png" /></a>
            </div>
            <div class="well col-md-4">
                <a href="/Assigning/ArrivedRequest?stationID=@stationId" class="">
                    <h4>Hàng đã đến trạm</h4>
                    <br />
                    <img src="~/Content/Images/requests/Arrived.png" /></a>
            </div>
            <div class="well col-md-4">
                <a href="/Assigning/DeliveredRequest?stationID=@stationId" class="">
                    <h4>Hàng đã được giao</h4>
                    <br />
                    <img src="~/Content/Images/requests/Delivered.png" /></a>
            </div>
        </div>
        <div class="col-md-12" style="text-align: center">
            <div class="well col-md-6">
                <a href="/Assigning/ExpiredRequest?stationID=@stationId" class="">
                    <h4>Hàng đã hết hạn giao & chờ trả</h4>
                    <br />
                    <img src="~/Content/Images/requests/Timeout.png" /></a>
            </div>
            <div class="well col-md-6">
                <a href="/Request/LatePayment?stationID=@stationId" class="">
                    <h4>Trễ hạn thanh toán</h4>
                    <br />
                    <img src="~/Content/Images/requests/Latepayment.png" /></a>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
</script>
