@model Captone.Models.Request
<input type="hidden" value="@Model.RequestID" id="RequestID" name="RequestID"/>
<div class="each-field">
    Khối lượng thực
                            <br />
    <input type="text" name="Weight" id="Weight" value="" class="form-control" />
</div>

<div class="each-field">
    Thể tích thực
                            <br />
    <input type="text" name="Volume" id="Volume" class="form-control" onchange="CalculatePrice()" />

</div>

<div class="each-field">
    Thành tiền
                            <br />
    <input type="text" name="Price" id="Price" class="form-control" disabled="disabled" />
</div>

<script type="text/javascript">

    function CalculatePrice() {
        var weight = document.getElementById("Weight").value;
        var volume = document.getElementById("Volume").value;
        var FromLocation = route[0];
        var ToLocation = route[1];

        $.ajax({
            url: "/Request/CalculatePrice",
            type: "Post",
            data: { weight: parseFloat(weight), volume: parseFloat(volume), FromLocation: parseInt(FromLocation), ToLocation: parseInt(ToLocation) },
            success: function (result) {
                $("#Price").val(result);
            }
        });
    }
</script>
