@model IEnumerable<Captone.Models.DetailStationModel>
<div>
    <table class="table">
        <tr>
            <th>Tuyến
            </th>
            <th>
                Thời gian trung bình
            </th>
        </tr>

        @foreach (var item in Model)
        {
           
                    <tr>
                   
                        <td>@item.RouteName</td>        
                        <td>@item.duration h</td>
                    </tr>      
        }
    </table>
</div>
