@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4" style="text-align: center; margin-left: -900px">
    <img src="~/Content/Images/folder_blue_favourites.png" />
    <h2 class="headerH2">Góp ý và đánh giá</h2>
    <img src="~/Content/Images/step-third.png" style="width: 40px;" />
    <p class="pContent">
        Đóng góp ý kiến cá nhân
    </p>
    <p class="pContent">
        Đánh giá chất lượng dịch vụ
    </p>
</div>
<div class="col-lg-4" style="text-align: center; margin-left: -250px; margin-top: -330px">
    <img src="~/Content/Images/message-already-read-icon.png" />
    <h2 class="headerH2">Gửi yêu cầu</h2>
    <img src="~/Content/Images/step-first.png" style="width: 40px" />
    <p class="pContent">
        Gửi yêu cầu vận chuyển món hàng 
    </p>
</div>
<div class="col-lg-4" style="text-align: center; margin-top: -480px;margin-left: 400px">
    <img src="~/Content/Images/icon512x512.png" style="max-width: 100%; width: 130px" />
    <h2 class="headerH2">Theo dõi món hàng</h2>
    <img src="~/Content/Images/step-second.png" style="width: 40px"/>
    <p class="pContent">
        Theo dõi xem món hàng của mình đã rời trạm được bao lâu
    </p>
</div>

<script type="text/javascript">
  
</script>

