@model IEnumerable<Captone.Models.Comment>
<link href="~/Content/Css/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/star-rating.js"></script>
<h2>Ý kiến khách hàng</h2>
<h3>@ViewBag.StationSelect.StationName.ToString()</h3>

<div id="rating">
    <input id="input-1" type="number" class="rating" min="1" max="5" step="1">

    <input id="input-22" min="1" max="5" step="1">
   

</div>

@foreach (var item in Model)
{
    <input type="hidden" value="@item.CommentID"/>
    <div id="myTabContent" class="tab-content">
        <div class="list-group">
            <div class="list-group-item" style="height: 80px">
                <i class="fa fa-building-o fa-fw"></i>@item.Username
                <br />
                <div id="detail" style="padding-left:30px">
                    @item.CommentContent
                </div>
            </div>
        </div>
    </div>
}

<div class="col-lg-7">
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" row="3" name="Comment" style="height:100px; width:500px"></textarea>
            </div>
            <br />
            <input type="submit" value="Bình luận" class="btn" style="padding-right:20px"/>           
        </form>
    </div>
</div>

<script type="text/javascript">

    $("#input-22").rating({
        starCaptions: {1: "Very Poor", 2: "Poor", 3: "Ok", 4: "Good", 5: "Very Good"},
        starCaptionClasses: { 1: "text-danger", 2: "text-warning", 3: "text-info", 4: "text-primary", 5: "text-success" },
    });
</script>