@model Captone.Models.Station

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="clear"></div>
<h3>Bạn có muốn xoá đánh giá trung bình của trạm @Model.StationName ?</h3>

<article class="module width_3_quater">
    <header style="text-align: center">
        <h3>Xoá đánh giá trạm</h3>
    </header>
    <div class="module_content">
        <table class="tablesorter">
            <thead>
                <tr style="text-align: center">
                    <td>Trạm</td>
                    <td>Đánh giá trung bình</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center">
                    <td>
                        @Html.DisplayFor(model => model.StationName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.AvgRatingLevel)
                    </td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            <p>
                                <button type="submit" class="btn btn-danger">Xóa?</button>
                                <button type="button" class="btn btn-info" onclick="window.location.href='/Feedback/ManageRatingList'">Huỷ</button>
                            </p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</article>
<!-- end of stats article -->


