@model IEnumerable<Captone.Models.Station>
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_LayoutFeedback.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Đóng góp ý kiến
            </div>
            <div class="panel-body">
                @Html.Action("ListProvince", "FeedBack")
            </div>
        </div>
    </div>
</div>
