
.request-container {
    margin-left: 31%;
}
.headerH2 {
    font-family: times, Times New Roman, times-roman, georgia, serif; 
    color: #444; 
    font-size: 40px; 
    line-height: 44px; 
    letter-spacing: -2px;
     font-weight: bold;
}
.pContent:first-letter {
      text-transform: uppercase;
}
.pContent {
      color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 20px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
}
.footer {
    padding: 18px 0;
background: #111;
color: #fff;
    margin-top: 120px;
}
.request-input {
    height: 25px;
    width: 140px;
    text-align: -webkit-center;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: black;
    border-top-style: none;
    border-left-style: none;
    color: white;
}

.request-input-value {
    margin-left: 200px;
    width: 300px;
    text-align: center;
    height: 25px;
}

.request-main {
    width: 84%;
    padding: 0 10px 0;
    position: relative;
    color: #444;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

    .request-main h4 {
        text-align: center;
        padding-right: 40px;
        display: block;
        width: 230px;
        height: 25px;
        line-height: 1.3;
        margin: 0;
        position: relative;
        left: -16px;
        top: 8px;
        color: #cfcfcf;
        text-shadow: 0 1px 1px #111;
        border-top: 1px solid #363636;
        border-bottom: 1px solid #202020;
        background: #333;
        background: linear-gradient(top, #383838 0%, #262626 100%);
        border-radius: 2px 2px 0 0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }

        .request-main h4::before,
        .request-main h4::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: -11px;
            z-index: -10;
            border: 5px solid;
            border-color: #242424 transparent transparent transparent;
        }

        .request-main h4::before {
            left: 0;
        }

        .request-main h4::after {
            right: 0;
        }

.input-distance {
    padding-bottom: 6px;
}

#map_canvas {
    width: 500px;
    height: 500px;
}

.popnomore {
    display: none;
}

.pop {
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 250px;
    top: 390px;
    left: 350px;
    display: none;
}

    /* arrows - :before and :after */
    .pop:before {
        position: absolute;
        display: inline-block;
        border-top: 7px solid transparent;
        border-right: 7px solid #eee;
        border-bottom: 7px solid transparent;
        border-right-color: rgba(0, 0, 0, 0.2);
        left: -8px;
        top: 15px;
        content: '';
    }

    .pop:after {
        position: absolute;
        display: inline-block;
        border-top: 6px solid transparent;
        border-right: 6px solid #eee;
        border-bottom: 6px solid transparent;
        left: -6px;
        top: 16px;
        content: '';
    }

input[disabled] {
    cursor: not-allowed;
}

/*LightBulbs*/
.bulbs {
    
    background-image: url('../Images/lightbulb_off.png');
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    top: 50%;
}

input:checked + label {
    background-image: url('../Images/lightbulb.png');
}

.light {
    display: none;
}

.bub-container {
    display: none;
    margin-left: 373px;
    margin-top: -47px;
}

.bub-container2 {
    display: none;
    padding-top: 10px;
    margin-left: -111px;
}

.bub-container3 {
    display: none;
    margin-left: 373px;
    margin-top: -47px;
}

.suggestAddress {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

.map-google {
    width: 800px;
    margin-left: 480px;
    margin-top: -920px;
}

.each-field {
    clear: both;
    padding-bottom: 15px;
}
.contain {
    width: 1470px;
    margin-left: auto;
margin-right: auto;
    background-color: white;
    padding: 28px 0;
}
.featurette-heading {
    margin-top: 80px;
}
.imageClass {
    width: 470px;
    height: 353px;
    margin-left: -60px;
}
.alert-message.danger, .alert-message.danger:hover, .alert-message.error, .alert-message.error:hover, .alert-message.success, alert-message.success:hover, .alert-message.info, .alert-message.info:hover {
  color: #ffffff;
}
.alert-message .close {
  font-family: Arial, sans-serif; 
  line-height: 18px;
}
.alert-message.danger, .alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

:root .alert-message {
  border-radius: 0 \0;
}
.close {
  float: right;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 13.5px;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.alert-message {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;

  position: relative;
  padding: 7px 15px;
  margin-bottom: 18px;
  color: #404040;

  background-color: #eedc94;
  background-repeat: repeat-x;

  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.alert-message .close {
  margin-top: 0;
}
.alert-message a {
  font-weight: bold;
  color: #404040;
  text-decoration: none;
}
.alert-message.danger p a, .alert-message.error p a, .alert-message.success p a, .alert-message.info p a {
  color: #ffffff;
}
.alert-message p a:hover {
  text-decoration: underline;
}
.alert-message p {
  margin-bottom: 0;
}
