@model IEnumerable<Captone.Models.Comment>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-8">
        <table class="table display KeyTable dataTable" id="tblComment" aria-describedby="example_info">
            <thead>
                <tr style="text-align: center">
                    <td>Khách hàng</td>
                    <td>Bình luận</td>
                    <td>Ngày bình luận</td>
                    <td>Trạm</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center">
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DatePost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StationID)
                        </td>
                        <td>
                            <a href="/FeedBack/DeleteComment/@item.CommentID">
                                <input type="image" src="~/Content/Images/Admin/icn_trash.png" title="Xoá">
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    window.onload = loadTable();

    function loadTable() {
        var oTable = $('#tblComment').dataTable();

        $.extend($.fn.dataTable.defaults, {
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "sPaginationType": "full_numbers"
        });

        var keys = new KeyTable({
            "table": document.getElementById('SchedulesTbl'),
            "datatable": oTable,
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    }
</script>