@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Các yêu cầu không xếp lịch được";
    Layout = null;
}
@{
    int stationId = Convert.ToInt32(Session["StationID"]);
}

@if (Model == null)
{
    <h4 style="color: blue">Bạn chưa chọn yêu cầu nào để xếp lịch.</h4>
}
else if (!Model.Any())
{
    <h4 style="color: green">Tất cả yêu cầu đều đã được xếp lịch thành công.</h4>
}
else
{
    <h4 style="color: orange">Có @Model.Count() yêu cầu xếp lịch đã không thực hiện được.</h4>
}