@model Captone.Models.Trip
@{
    //ViewBag.Title = "Thêm chuyến mới";
    //Layout = "~/Views/Shared/_LayoutStaff.cshtml";
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <strong>Ngày chạy
            </strong>
            <div class="editor-field">
                <input type="text" id="startDate" name="Date" class="form-control"/>
            </div>
            <br />
            <strong>Tuyến
            </strong>
            <div class="editor-field" id="change">
                @Html.DropDownList("RouteID", ViewData["RouteID"] as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.Schedule.Coach.NumberPlate)
            </div>
            <br />
            <p>
                <button type="submit" class="btn btn-primary" onclick="SentObject()">Tạo mới</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Hủy</button>
            </p>
        }
    </div>
    <div class="col-md-6">
        <div id="samedateTrip"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div id="schedule"></div>
    </div>
</div>
