@{
    ViewBag.Title = "ListWay";
}

<h4 style="color: orange">Các đường đã tìm được:</h4>

<table class="table">  
    <tbody>
        @foreach(var item in ViewBag.WayList){
            <tr>
                <td style="width: 600px">@item</td>
            </tr>
        }
    </tbody>
</table>
