@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Hoá đơn vận chuyển
            </div>
            <div class="panel-body">
                <div class="each-field">
                    Tên Khách Hàng: 
                    <input type="text" id="IUsername" name="Username" value="" class="form-control" autofocus />
                </div>
                <div class="each-field">
                    Số Điện Thoại: 
                    <input type="text" id="ISenderPhone" name="SenderPhone" value="" class="form-control" autofocus />
                </div>
                <div class="each-field">
                    Mã Yêu Cầu Vận Chuyển: 
                    <input type="text" id="IRequestID" name="RequestID" value="" class="form-control" autofocus />
                </div>
                <div class="each-field">
                    Khối Lượng Món Hàng:    
                    <input type="text" id="IWeight" name="Weight" value="" class="form-control" autofocus />
                </div>
                <div class="each-field">
                    Thể Tích Món Hàng:
 
                    <input type="text" id="IVolume" name="Volume" value="" class="form-control" autofocus />
                </div>
                <div class="each-field">
                    Chi Phí Vận Chuyển:
                    <input type="text" id="IPrice" name="Price" value="" class="form-control" autofocus />
                </div>
                <input type="button" value="In Hoá Đơn" class="btn" />
            </div>
        </div>
    </div>
</div>

<script>
    function saveInvoive() {
        var weight = document.getElementById("IWeight").value;
        var volume = document.getElementById("IVolume").value;
        var price = document.getElementById("IPrice").value;
        var requestID = document.getElementById("IRequestID").value;
        $.ajax({
            url: "/Invoice/CreateInvoice",
            type: "POST",
            data: { Weight: weight, Volume: volume, Price: price, RequestID: requestID },
            success: function (result) {
                if (result) {
                    location.href = "/Invoice/Index";
                }
            }
        });
    }
</script>
