@model IEnumerable<Captone.Models.Request>
<script src="~/Content/TableJS/jquery.dataTables.js"></script>
<script src="~/Content/TableJS/KeyTable.js"></script>
@{
    ViewBag.Title = "Danh sách yêu cầu chuyển phát";
}

<div class="col-lg-12">
    <div class="tabbable">
        <ul id="myTab" class="nav nav-pills">
            @foreach (var stt in ViewBag.Status)
            {
                <li><a href="#pills" id="@stt.DeliveryStatusID" data-toggle="tab" onclick="listStatus(this.id)">@stt.StatusName</a></li>
            }
        </ul>
        <div class="table-responsive" style="margin-top: 1%">
            <div id="TableRequest_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="col-lg-8">
                </div>
                <div id="request">
              
                </div>
              <div id="assigning">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function addActive(id) {
     
        listStatus(id);
        $('#id').addClass("active");
    }
    function listStatus(id) {
        $.ajax({
            url: "/Request/ListRequest",
            type: "Post",
            data: { sttID: id },
            success: function (result) {
                if(id == 3) {
                    ListAssign();
                    $("#request").html("");
                }
                else {
                $("#request").html(result);
                $("#assigning").html("");
                }
                var oTable = $('#TableRequest').dataTable();

                $.extend($.fn.dataTable.defaults, {
                    "bSort": false,
                    "sPaginationType": "full_numbers"
                });

                var keys = new KeyTable({
                    "table": document.getElementById('TableRequest'),
                    "datatable": oTable,
                    "sPaginationType": "full_numbers"
                });
            }
        });
    }
    function ListAssign() {
        $.ajax({
            url: "/Assigning/ListAssign",
            type: "POST",
            success: function (result) {
                $("#assigning").html(result);
            }
        });
    }

    window.onload = addActive(1);
</script>
