@model Captone.Models.Request
<input type="hidden" value="@Model.RequestID" id="RequestID" name="RequestID"/>
<div class="each-field">
    Khối lượng 
                            <br />
    <input type="text" name="Weight" id="Weight" value="" class="form-control" />
</div>

<div class="each-field">
    Thể tích 
                            <br />
    <input type="text" name="Volume" id="Volume" class="form-control" />

</div>

<div class="each-field">
    Giá
                            <br />
    <input type="text" name="Price" id="Price" class="form-control" />
</div>
