@model IEnumerable<Captone.Models.ManageFee>

@{
    ViewBag.Title = "Quản lý phí";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script>
    function highlight(x) {
        x.style.backgroundColor = "yellow";
    }
    function reset(x) {
        x.style.backgroundColor = "white";
    }
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
