@{
    ViewBag.Title = "Báo cáo thống kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Core CSS - Include with every page -->
<link href="/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- SB Admin CSS - Include with every page -->
<link href="/Content/css/sb-admin.css" rel="stylesheet">

<script type="text/javascript">
    $(function () {
        var array = [];
        $.ajax({
            url: "/Admin/PaymentPieChart",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var get = result[i].split(":");
                    array.push([get[0], parseInt(get[1])]
                    );
                }
                $('#pie-chart').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Tỉ lệ yêu cầu theo hình thức thanh toán'
                    },
                    tooltip: {
                        pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },

                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: array
                    }]
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        var array = [];
        $.ajax({
            url: "/Admin/ColumnChart",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                $('#bar-chart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Số lượng yêu cầu chuyển phát theo tháng'
                    },
                    xAxis: {
                        type: 'category',
                        title: {
                            text: 'Tháng'
                        },
                        labels: {
                            style: {
                                fontSize: '16px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Yêu cầu chuyển phát',
                            style: {
                                fontSize: '16px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: '<b>{point.y:f} Lượt yêu cầu</b>',
                    },
                    series: [{
                        name: 'Yêu cầu chuyển phát',
                        data: result,
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            x: 4,
                            y: 10,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif',
                                textShadow: '0 0 3px black'
                            }
                        }
                    }]
                });
            }
        })
    });
</script>

<script type="text/javascript">
    $(function () {
        var dateArray = [];
        var totalArray = [];
        $.ajax({
            url: "/Admin/LineChart",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var get = result[i].split(":");
                    totalArray.push(parseInt([get[1]]))
                    dateArray.push([get[0]]);
                }

                var date_sort_asc = function (date1, date2) {
                    if (date1 > date2) return 1;
                    if (date1 < date2) return -1;
                    return 0;
                };

                dateArray.sort(date_sort_asc);

                $('#line-chart').highcharts({
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Doanh thu theo ngày'
                    },
                    xAxis: {
                        categories: dateArray
                    },
                    yAxis: {
                        title: {
                            text: 'Doanh thu (VNĐ)'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },
                    series: [{
                        name: 'Tổng thu',
                        data: totalArray
                    }]
                })
            }
        });
    });
</script>

<div class="panel panel-primary">
    <div class="panel-heading"> Báo cáo thống kê</div>
    <div class="panel-body">
        <div class="col-lg-8">
            <div class="well well-lg">
                <div id="pie-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well well-lg">
                <div id="bar-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well well-lg">
                <div id="line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>