@model IEnumerable<Captone.Models.Request>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<b><p class="pContent">Danh sách yêu cầu</p></b>
<div class="col-lg-8">
    <div class="container">
        @foreach (var item in Model)
        {
            <img src="~/Content/img/images.jpg" style="height: 150px;" />

            <div class="infor-request">
                <a class="btn btn-default" href="/Customer/InputPayment?RequestID=@item.RequestID"><i class="fa fa-user fa-3x"></i>  @item.Username <br />
                     @item.Station.StationName -----> @item.Station1.StationName
                    </a>
            </div>
        }
    </div>
</div>
