@model IEnumerable<Captone.Models.Route>
<div class="table-responsive">
    <table class="table">
        <thead>
            <th>Tuyến</th>
            <th>Trạm gửi</th>
            <th>Trạm nhận</th>
            <th>Giá</th>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.RouteName</td>
                    <td>@item.Station.StationName</td>
                    <td>@item.Station1.StationName</td>
                    <td>@item.Price</td> 
                </tr>
                
            }
        </tbody>
    </table>
    
</div>