@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Core CSS - Include with every page -->
<link href="/Content/css/bootstrap.min.css" rel="stylesheet">
<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

<!-- SB Admin CSS - Include with every page -->
<link href="/Content/css/sb-admin.css" rel="stylesheet">

<script type="text/javascript">
    $(function () {
        var array = [];
        $.ajax({
            url: "/Admin/PieChart",
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var get = result[i].split(":");
                    array.push([get[get.length - 1], parseInt(get[0])]
                    );
                }
                $('#container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Hiệu suất trên từng tuyến'
                    },
                    tooltip: {
                        pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },

                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: array
                    }]
                });
            }
        });

    });

</script>

<div class="panel panel-primary">
    <div class="panel-heading"> Báo cáo thống kê</div>
    <div class="panel-body">
        <div class="col-lg-8">
            <div class="well well-lg">
                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well well-lg">
                <h4>LINE CHART</h4>
                <p></p>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-lg-8">
            <div class="well well-lg">
                <h4>BAR CHART</h4>
                <p></p>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
</div>